.adBox {
    width: 25%;
    height: auto;
    border: 1px solid #ddd;
    margin: 5px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}

.adBox:hover {
    border: 1px solid red;
}

.adBox img{
    width: 100%;
}