.navul {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    padding: 20px 10px;
    list-style-type: none;
}

.navul a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.navul a:hover, .navul a:active {
    font-style: italic;
}